@model Group;
@{
    Layout = "_Layout";

    ViewData["Title"] = "Create group";
    var message = ViewData["Message"] as string;
}

<div>
    <h1 class="my-header display-4">Create</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="card mt-1">
                <div class="card-body">

                    <form method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Title, new {@class= "form-label"})
                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Title, null, new {@class="text-danger"})
                            @if (!string.IsNullOrEmpty(message))
                            {
                                <div class="text-danger">@message</div>
                            }
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>