@model CreateUserWithRolesForm;
@{
    Layout = "_Layout";

    ViewData["Title"] = "Create";
}
<style>
    #map {
        height: 500px;
    }
</style>

<div>
    <h1 class="my-header display-4">Create user</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="card mt-1">
                <div class="card-body">

                    <form method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Login, new {@class= "form-label"})
                            @Html.TextBoxFor(m => m.Login, new {@class = "form-control", @id = "loginInput"})
                            @Html.ValidationMessageFor(m => m.Login, null, new {@class="text-danger"})
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new {@class= "form-label"})
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, null, new {@class="text-danger"})
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class= "form-label"})
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class="text-danger"})
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Image, new {@class= "form-label"})
                            @Html.TextBoxFor(m => m.Image, new {@class = "form-control", type="file", accept=".jpg,.png,.jpeg"})
                            @Html.ValidationMessageFor(m => m.Image, null, new {@class="text-danger"})
                        </div>

                        <h2>Roles</h2>
                        @for (int i = 0; i < Model.Roles.Count; i++)
                        {
                            @Html.HiddenFor(m=>m.Roles[i].Name)
                            <div class="form-check mb-3">
                                @Html.LabelFor(m => m.Roles[i].Active, Model.Roles[i].Name, new {@class= "form-check-label"})
                                @Html.CheckBoxFor(m => m.Roles[i].Active, new {@class = "form-check-input"})
                            </div>
                        }
                        <div class="mb-3">
                            @Html.HiddenFor(m => m.MapMarkerId)
                        </div>
                        <div id="map"></div>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>