@model UserUpdateAvatarForm;
@{
	Layout = "_Layout";

	ViewData["Title"] = "Edit avatar";

	var user = ViewData["User"] as UserIdentity;
}

<div>
	<h1 class="my-header display-4">Edit user</h1>
	<div class="row">

		<div class="col-md-6">
			<div class="card mt-1">
				<div class="card-body">
					<h2>@user.UserName</h2>
					<form method="post"
						  enctype="multipart/form-data">
						@Html.AntiForgeryToken()
						<div class="mb-3">
							@Html.LabelFor(m => m.Image, new {@class= "form-label"})
							@Html.TextBoxFor(m => m.Image, new {@class = "form-control", type="file", accept=".jpg,.png,.jpeg"})
							@Html.ValidationMessageFor(m => m.Image, null, new {@class="text-danger"})
						</div>
						<button class="btn btn-primary" type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>