@model ResetPasswordForm;
@{
    Layout = "_Layout";

    ViewData["Title"] = "Edit password";
    var user = ViewData["User"] as UserIdentity;
}

<div>
    <h1 class="my-header display-4">Edit password</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="card mt-1">
                <div class="card-body">
                    <h1>@user.UserName</h1>
                    <form method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new {@class= "form-label"})
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, null, new {@class="text-danger"})
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class= "form-label"})
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class="text-danger"})
                        </div>

                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>